* {
  margin: 0;
}


header {
  background-color: rgb(95, 165, 95);
  text-align: center;
}

.title {
  font-size: 4em;
  display: block;
  text-shadow: 5px 10px 10px #000;
}

body {
  font-family: 'Quicksand', sans-serif;
}
.game-area {
  border: 2px solid black;
  position: relative;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgba(89, 189, 249, .7);
}

/* floatUp
Animations
*/
@keyframes floatUp {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-200px);
  }
  50% {
    transform: translateY(-450px);
  }
  75% {
    transform: translateY(-800px);
  }
  100% {
    transform: translateY(-1200px);
  }
}

.bubble {
  display: block;
  position: absolute;
  bottom: 0;
  left:50%;
  background-color: rgba(238, 113, 68, .9);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation:floatUp 10s infinite;
  cursor: grab;
}

.pink {
background-color: rgba(242, 163, 134, 1);
}
.hidden {
  display: none;
}
