.title {
  font-size: 3em;
  display: block;
}
body {
}
.game-area {
  border: 2px solid black;
  position: absolute;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
}

/* floatUp
Animations
*/
@keyframes floatUp {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-200px);
  }
  50% {
    transform: translateY(-450px);
  }
  75% {
    transform: translateY(-800px);
  }
  100% {
    transform: translateY(-1200px);
  }
}

.bubble {
  display: block;
  position: relative;
  bottom: 0;
  left:50%;
  background-color: rgba(125, 125, 125, .7);
  background-color: green;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation:floatUp 10s infinite;
  cursor: grab;
}

.hidden {
  display: none;
}
